node_modules
**/node_modules
.git
.github
.next
**/.next
dist
**/dist
*.log
.env
.env.*
!.env.example
**/.env
**/.env.*
**/!.env.example
prototype
docs
infra/terraform
.vscode
.idea
.DS_Store
coverage
**/coverage
